<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <atm_configuration>
            <bills>
                <bills>100;50;20;10</bills>
            </bills>
        </atm_configuration>
    </default>
</config>